<%= form_with(model: config) do |form| %>
  <%= render "error_messages", resource: form.object %>

  <div class="mb-6">
    <%= form.label :nom, class: "label" %>
    <%= form.text_field :nom, class: "input" %>
  </div>

  <div class="mb-6">
    <%= form.label :post, class: "label" %>
    <%= form.text_field :post, class: "input" %>
  </div>

  <div class="mb-6">
    <%= form.label :adresse, class: "label" %>
    <%= form.text_area :adresse, class: "input" %>
  </div>

  <div class="mb-6 flex justify-between items-center">
    <%= form.button 'Enregistrer', class: "btn btn-default" %>

    <% if form.object.persisted? %>
      <%= link_to 'Supprimer', form.object, class: "btn btn-default", method: :delete, data: { remote: true, confirm: "Voulez-vous vraiement supprimer cette item?" } %>
    <% end %>
  </div>
<% end %>
