<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h2">Projets</h1>

    <% if @projets.exists? %>
      <%= link_to 'Ajouter projet', new_projet_path, class: "btn btn-default" %>
    <% end %>
  </div>

  <% if @projets.exists? %>
    <div class="bg-white rounded shadow">
      <table class="w-full">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Description</th>

            <th class="p-3 uppercase text-left text-xs text-gray-700">Actions</th>
          </tr>
        </thead>

        <tbody>
        <% @projets.each do |projet| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">
                          <td class="p-3"><%= projet.description %></td>
            
            <td>
              <%= link_to "Voir", projet, class: "btn btn-default" %>
              <%= link_to "Modifier", edit_projet_path(projet), class: "btn btn-default" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  <% else %>
    <div class="bg-white rounded shadow flex items-center justify-between p-8">
      <div class="flex-1 text-center">
        <p class="text-xl font-semibold mb-4">Ajouter un nouveau projet</p>
      <%= link_to 'Ajouter projet', new_projet_path, class: "btn btn-default" %>
      </div>
    </div>
  <% end %>
</div>
