<div class="flex bg-gray-200">

    <div class="left-0 bg-gray-900 p-10 text-white">
        <img src="images/photo.png" class="mb-10">

        <h3 class="text-center mb-3 text-lg font-bold">LANGUES</h3>

        <% @langues.each do |langue| %>

            <div class="relative pt-1">
            <div class="flex mb-2 items-center justify-between">
                <div>
                <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-gray-600 bg-gray-200">
                    <%= langue.nom %>
                </span>
                </div>
                <div class="text-right">
                <span class="text-xs font-semibold inline-block text-gray-600">
                    <%= langue.note %>%
                </span>
                </div>
            </div>
            <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-gray-200">
                <div style="width:<%= langue.note %>%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-gray-500"></div>
            </div>
            </div>

        <% end %>

        <br/>

        <h3 class="text-center mb-3 text-lg font-bold">COMPÉTENCES</h3>
        <ul class="list-disc">
            <% @competences.each do |competence| %>
                <li class="mb-2"><%= competence.competence %></li>
            <% end %>
        </ul>

        <br/>

        <h3 class="text-center mb-3 text-lg font-bold">FORMATION TECHNIQUE</h3>
        <ul class="list-disc">
            <% @formations.each do |formation| %>
                <li class="mb-2"><%= formation.formation %></li>
            <% end %>
        </ul>

        <br/>

        <h3 class="text-center mb-3 text-lg font-bold">CONAISSANCES TECHNIQUE</h3>
        <ul class="list-disc">
            <% @connaissances.each do |connaissance| %>
                <li class="mb-2">
                    <b><%= connaissance.nom %>:</b>
                    <%= simple_format(connaissance.description) %>
                </li>
            <% end %>
        </ul>

        <br/>

        <h3 class="text-center mb-3 text-lg font-bold">PROJETS</h3>
        <ul class="list-disc">
            <% @projets.each do |projet| %>
                <li class="mb-2"><%= simple_format(projet.description) %></li>
            <% end %>
        </ul>

    </div>
    <div class="flex">
        <div class="p-10">
            <h1 class="mb-3 text-2xl font-bold"><%= @config.nom %></h1>
            <h2 class="mb-3 text-lg font-bold"><%= @config.post %></h2>
            <p><%= h(@config.adresse).gsub("\n", "<br>").html_safe %></p>

            <% @articles.each do |article| %>
                <br/>
                <h3 class="mb-3 text-lg font-bold"><%= article.title %>:</h3>
                <p class="m-5"><%= article.body %></p>
            <% end %>

            <div class=" bg-gray-700 max-h-screen shadow-2xl flex-row rounded relative">
                <div class="p-2 bg-gray-600 text-blue-900 rounded-t">
                    <h5 class="text-white text-2xl"><%= @rails.title %></h5>
                </div>
                <div class="p-2 w-full h-full overflow-y-auto text-gray-100 ">
                    <p class="text-1xl">
                        <%= h(@rails.body).gsub("href", 'class="btn btn-default mb-2 lg:mr-2 lg:mb-0 block" href').html_safe %>
                    </p>
                </div>
            </div>
          
        </div>
    </div>

</div>